.git
.cache
.tmp
.venv*
.vscode
__pycache__/
*.pyc
.docker-assets/*
!.docker-assets/sdpcodec-conda-pack.tar.gz

outputs/
wandb/
lightning_logs/
logs/
pl_log/
val_vis/

hounsu_sdpcodec_*.tar
sdpcodec.pt

demo/
speaker_probing_results/
speaker_probing_results_sdpcodec/

etc/torch_hub_cache/
etc/UTMOSv2_cache/
etc/transformers_cache/
etc/SpeechMOS/
etc/unispeech_models/wavlm_large_finetune.pth

pretrained_models/wavlm/WavLM-Large.pt
pretrained_models/vq_wav2vec/vq-wav2vec_kmeans.pt
